﻿@CHARSET "UTF-8";

/* CSS Document */

/* ------------------------------------------------------------
 * Name      : login.css
 * Desc      : 티웨이항공 로그인
 * Created   : 2018/01/16 by YSK
 * Updated   : 2018/02/20 by YSK
------------------------------------------------------------ */

/* common */
*{margin:0;padding:0}
html,body{height:100%} 
body{font-family:"맑은고딕", Malgun Gothic, dotum,"돋움", sans-serif;font-size:13px;color:#666;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0)} 
body,p,h1,h2,h3,h4,h5,h6,menu,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button{margin:0;padding:0}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption{display:block}
img, video{max-width:100%;height:auto}
img,fieldset{border:0}
img{vertical-align:middle}
menu,ul,ol{list-style:none}
em,address{font-style:normal}
a,a:link{color:#4b4b4b;text-decoration:none}
a:hover,a:active,a:focus{color:#333;text-decoration:none}
textarea{overflow:auto}
option,x:-moz-any-link{padding-right:6px}
option,x:-moz-any-link,x:default{padding-right:0}
input, textarea, select, label{vertical-align:middle;letter-spacing:-1px}
input[type="text"], input[type="password"], textarea, select{border:solid 1px #c0c0c0;padding-left:5px;font-family:"맑은고딕", Malgun Gothic, sans-serif;font-size:12px;color:#676767}
input[type="file"]{font-family:"맑은고딕", Malgun Gothic, sans-serif}
textarea{line-height:1.8}
legend, caption, .blind{visibility:hidden;overflow:hidden;top:0;left:0;width:0;height:0;font-size:0;line-height:0}
button,label{cursor:pointer}
button::-moz-focus-inner{padding:0}
hr{display:none}
table{border-spacing:0;border-collapse:collapse}
select,textarea,button{vertical-align:middle}
input{height:19px;vertical-align:middle}
button{border:0 none;background-color:transparent;cursor:pointer}
.checkbox{width:14px;height:14px;margin-bottom:2px;vertical-align:middle;border-width:0}
html:first-child select{padding-right:6px;height:20px} /* Opera 9 & Below Fix */
option{padding-right:6px} /* Firefox Fix */
.blind{visibility:hidden!important;overflow:hidden!important;position:absolute!important;width:0!important;height:0!important;font-size:0!important;line-height:0!important;color:transparent!important;background-color:transparent!important}
span{vertical-align:0}
.floatR{float:right}


/* 건너뛰기 */
#skipnavi a {width:100%; position:absolute; display:block;left:0;top:-10000px;background:#2c7bbb;color:#fff;font-weight:bold;font-size:11px;text-align:center;}
#skipnavi a:hover, #skipnavi a:focus, #skipnavi a:active {position: absolute;display:block; top: 0;left:0; width:100%;padding: 5px 0;background:#2c7bbb;color:#fff;}

/* placholder */
.int_login::-webkit-input-placeholder{color:#777}
::-webkit-input-placeholder, .int_login::-webkit-input-placeholder{color:#777}
::-moz-placeholder{color:#777} /* firefox 19+ */
input.int_login:-ms-input-placeholder, input.int_num:-ms-input-placeholder{color:#666} /* ie */
input:-moz-placeholder{color:#777}
input:-ms-input-placeholder.int_login{color:#adb1b3}

/* login */
.bg_login{background:url(./login_bg.png) no-repeat center top; overflow-x:hidden;overflow-y:hidden;width:100%;min-width:1100px;z-index:0}
#login_wrap{position:relative;margin:0 auto;margin-top:132px;width:1100px;height:454px}
h1.logo_login{position:absolute;top:-50px;display:none}
.login_left{position:relative;float:left;width:494px;margin-right:61px}
.login_left .slogan{position:absolute;left:0;top:88px;text-align:center;width:410px}
.login_right{position:relative;float:right;width:340px;margin:40px 143px 0 0;box-sizing:border-box}
.login_right h2.title{height:50px;line-height:42px;font-size:42px;color:#3d3d3d;font-weight:500}
.login_right p.tit_txt {margin-top:20px; padding:20px 0 20px;line-height:16px;border-top:solid 2px #515151;font-size:12px;color:#666;letter-spacing:-0.25px}
.login_right .login{display:inline-block;padding:0 0;width:100%; box-sizing:border-box}

.join_row .lbl{display:none}
.join_row .int{z-index:10;padding:4px 0 8px 0;width:60%;height:16px;border:none;background:#fff;font-size:13px;color:#676767}
.join_row{position:relative;margin-bottom:6px;min-height:40px;padding:6px 10px 0;border:solid 1px #d1d5da;background:#fff;box-sizing:border-box;word-break:break-all}
.join_row:last-child{margin:0}
.check{position:relative;width:100%;}
.check li{position:relative;display:inline-block;width:100%;margin-top:10px;font-size:13px;color:#545a5e}
.check li a{text-decoration:underline;color:#666;font-weight:600}
.check .pw_id_findare{position:absolute;right:0;width:auto;color:#666;text-align:right}
.check .pw_id_findare img{vertical-align:text-bottom}
.btn_box {margin-top:25px;width:100%;}
.btn_box li{margin-bottom:8px;width:100%;text-align:center}
.btn_box li.line{margin-top:5px;padding-top:30px;width:100%;border-top:solid 1px #dbdbdb}

/* 버튼 */
.btn_login{display:inline-block;background:#d12827;padding:0 30px;border:none;border-radius:3px;width:100%;height:48px;vertical-align:middle;text-align:center;font-size:17px;color:#fff;font-weight:600;text-decoration:none;box-sizing:border-box}
.btn_login02{display:inline-block;background:#036bae;padding:0 10px;border:none;border-radius:3px;width:100%;height:50px;vertical-align:middle;text-align:center;font-size:15px;color:#fff;font-weight:600;text-decoration:none}
.btn_login03{display:inline-block;background:#787879;padding:0 10px;border:none;border-radius:3px;width:100%;height:50px;vertical-align:middle;text-align:center;font-size:15px;color:#fff;font-weight:600;text-decoration:none}
.btn_login02 img{margin-top:-2px}
.btn_login02:first-child, .btn_login03:first-child{float:left}
.btn_login02:last-child, .btn_login03:last-child{float:right}
.w2 {width:49.2% !important}
.w3 {width:32% !important}

/* 풋터 */
.footer_login{position:relative;width:1100px;margin:0 auto;padding-top:15px}
.footer_login .logo{position:absolute;top:20px}
.footer_login .address {margin-left:140px}
.footer_login .address li{font-size:12px;line-height:18px;color:#a7a7a7} 

@media only all and (max-width:767px){
body{min-width:320px}
button {font-size:1.1em !important;letter-spacing:-0.5px;}
button img{width:15px;height:15px}
#content_login{margin:0 30px}    
#login_wrap{margin:0 auto;margin-top:40px;width:100%;height:380px}    
.bg_login{display:block;background:none;overflow-x:hidden;overflow-y:hidden;width:100%;min-width:320px;z-index:0}
h1.logo_login{position:absolute;right:0;top:10px}

.login_left{display:none}    
.login_right{position:relative;float:none;width:100%;padding:0;margin:0}
/*.join_row{padding:2px 10px}*/
.btn_box{display:none}
    
/* 풋터 */
.footer_login{position:relative;width:auto;margin:0 auto;padding:15px 0;border-top:solid 1px #ddd}
.footer_login .logo{display: none}
.footer_login .address {margin-left:0;text-align:center}
.footer_login .address li:first-child{display:none}

}